body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 4px;
    max-width: 360px;
}

img {
    max-width: 360px;
    max-height: 360px;
    object-fit: cover;
}

p {
    font-style: italic;
    font-weight: bold;
}

.item {
    color: brown;
    cursor: pointer;
}